@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
body{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Manrope, sans-serif;
  line-height: 1.6;
}

.fondo{
  background: rgb(190,24,93);
  background: linear-gradient(0deg, rgba(190,24,93,1) 52%, rgba(30,27,75,1) 100%);
}

.slider-container {
  aspect-ratio: 16/9;
  width: 100%;
  max-width: 100%;
  height: 50vh;
  overflow: hidden;
  z-index: 1;
}

.slider{
  display: relative;
  overflow-x:scroll ;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  scroll-behavior: smooth;
  width: 100%;
}

.slider img{
  aspect-ratio: 16/9;
  flex: 0 0 auto;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-radius: 5px;
  scroll-snap-align: start;
}
.slider img:not(.active) {
  display: none;
}

.quienes{
  background-image: url(../image/fondo_snorlax.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

.experiencias{
  background-image: url(../image/fondo_kirby.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}
.fondo-articulos{
  background: rgb(190,24,93);
  background: linear-gradient(62deg, rgba(190,24,93,1) 52%, rgba(30,27,75,1) 100%);
}
/* para q el carrito quede delante */
#carrito{
  z-index:999;
    overflow-y: auto;
}
/* nav visible invisible */
nav {
  transition: transform 0.3s ease;
}
.login-alert {
  width: 80%; 
  max-width: 400px; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-image: url(../image/fondo_pro_azul.jpg);
  background-position: center;
  background-size: cover;
}

.carrito-fondo{
  background-image: url(../image/fondo_pro_azul.jpg);
  background-position: center;
  background-size: cover;
}

.hidden {
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.search-container {
  position: relative;
  display: inline-block;
}
.resultados-buscador {
  position: relative;
  z-index: 997;
}
.resultados {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(202, 42, 109);
  border: 1px solid white;
  padding: 10px;
  min-width: 200px;
  max-height: 200px;
  overflow-y: auto; 
}
.buscador-hidden{
  display: none;
}
/* INICIAR SESION Y REGISTRO  */
.container-form{
  width: 90vw;
  height: 90vh;
}
.formulario{
  width: 450px;
  max-width: 90vw;
}
.fornulario input{
  width: 70%;
  border-bottom: white thin solid ;
  outline: none;
}