@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Manrope, sans-serif;
  line-height: 1.6;
}
/* -paleta #8c522(violet) ffffff(blanco) #5ce1e6(light-blue) ffb502 fe0000(gold) 000000(negro) */

.fondo{
    background-image: url(../image/fondo_pro_degrade.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.slider{
  aspect-ratio: 16/9;
  width: 100%;
  height: 450px;
  position: relative;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
}

.slider div img{
  width: 100%;
  position: sticky;
  object-fit: 5px;
  border-radius: 5px;
  scroll-snap-align: start;
}