@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Manrope, sans-serif;
  line-height: 1.6;
}
/* -paleta #8c522(violet) ffffff(blanco) #5ce1e6(light-blue) ffb502 fe0000(gold) 000000(negro) */

.fondo{
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.slider-container{
  aspect-ratio: 16/9;
  width: 100%;
  max-width: 100%;
  height: 550px;
  position: relative;
  overflow: hidden;
}

.slider{
  display: flex;
  overflow-x:scroll ;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  scroll-behavior: smooth;
  width: 100%;
}

.slider img{
  flex: 0 0 auto;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  scroll-snap-align: start;
}

#prev-button,
#next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#prev-button {
  left: 10px;
}

#next-button {
  right: 10px;
}

.quienes{
  background-image: url(../image/fondo_snorlax.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

.experiencias{
  background-image: url(../image/fondo_kirby.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}
.fondo-articulos{
  background-color: #5c5258;
  background-image: linear-gradient(225deg, #5c5258 0%, #dacaa3 50%, #f9fbfd 100%);
}
/* para q el carrito quede delante */
#carrito{
  z-index:999;
}
/* nav visible invisible */
nav {
  transition: transform 0.3s ease;
}

.hidden {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
